body {
    font-family: system-ui, sans-serif;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group span.error {
    color: red;
}